<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container">
  <div class = "row">
    <div class="col-12 ps-5 py-4 my-8  "  >
        <h2 class="titulo"> El aroma mágico</h2>
        <hr  />
        <img src="../assets/images/cafeBackground.jpg" alt="Cafe"  style="width:100%" />
        <hr  />
    </div>
  </div>
  <div class = "row">
    <div class="col-12 col-md-8 ps-5">
      <app-listar-cafe></app-listar-cafe>
    </div>
  </div>
  <div class="row footer">
    <div class="col-12" >
      <p style="text-align: center;" >Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico</p>
    </div>

  </div>


